<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<main th:fragment="content">
    <h1 th:text="${attendance.employee.firstName} + ' ' + ${attendance.employee.lastName} + ' attendance details'"></h1>

    <ul>
        <li>Date: <span th:text="${{attendance.date}}"></span></li>
        <li>Worked Hours:  <span th:text="${attendance.workedHours}"></span></li>
        <li>Present: <span th:text="${attendance.isPresent}"></span></li>
        <li>Position: <span th:text="${attendance.employee.position}"></span></li>
    </ul>

    <a th:href="@{/}">Back</a>
</main>

</body>
</html>