<main th:fragment="content">
    <div class="attendance-details">
        <h1 th:text="${attendance.employee.firstName} + ' ' + ${attendance.employee.lastName} + ' - ' + ${{attendance.date}}"></h1>
        <div class="attendance-info">
            <div class="attendance-item">
                <span class="label">Worked Hours:</span>
                <span class="value" th:text="${attendance.workedHours}"></span>
            </div>
            <div class="attendance-item">
                <span class="label">Present:</span>
                <span class="value" th:text="*{attendance.isPresent ? 'Yes' : 'No'}"></span>
            </div>
            <div class="attendance-item">
                <span class="label">Position:</span>
                <span class="value" th:text="${attendance.employee.position}"></span>
            </div>
        </div>

        <div class="buttons-container">
            <a th:href="@{/attendance/edit(id=${attendance.id})}">Edit</a>
            <button class="deleteButton" th:data-id="${attendance.id}" th:data-endpoint="@{/attendance}">Delete</button>
            <a th:href="*{'/'}">Back</a>
        </div>
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <h3>Are you sure you want to delete this item?</h3>
            <div class="modal-actions buttons-container">
                <form th:action="@{/}" method="post">
                    <input type="hidden" name="id" />
                    <button type="submit">Delete</button>
                </form>
                <button class="cancelButton">Cancel</button>
            </div>
        </div>
    </div>
</main>
