<main>
    <h1>Attendance Details</h1>

    <div>
        <label>Date:</label>
        <span th:text="${attendance.date}"></span>
    </div>

    <div>
        <label>Employee:</label>
        <span th:if="${attendance.employee != null}" th:text="${attendance.employee.firstName} + ' ' + ${attendance.employee.lastName}">No employee assigned</span>
    </div>

    <div>
        <label>Worked Hours:</label>
        <span th:text="${attendance.workedHours}">N/A</span>
    </div>

    <div>
        <label>Present:</label>
        <span th:text="${attendance.present ? 'Yes' : 'No'}"></span>
    </div>

    <div class="buttons-container">
        <a href="/" class="btn btn-secondary">Back</a>
    </div>
</main>
