<main th:fragment="content">
    <h1 th:text="'Edit attandance for ' + ${attendance.employee.firstName} + ' ' + ${attendance.employee.lastName}"></h1>

    <form th:action="@{/attendance/update}" method="POST">
        <div class="edit-page-container">
            <input type="hidden" name="id" th:value="${attendance.id}">
            <div class="input-container">
                <div class="input-inner-container">
                    <label for="date">Date</label>
                    <input
                            type="date"
                            name="date"
                            id="date"
                            th:value="${attendance.date}"
                    />
                </div>
                <div class="input-inner-container">
                    <label for="hours">Hours</label>
                    <input type="number" name="workedHours" id="hours" th:value="${attendance.workedHours}"/>
                </div>

                <div class="input-inner-container">
                    <label for="present">Present</label>
                    <input type="checkbox" id="present" name="present" checked/>
                </div>
            </div>
        </div>
        <div class="buttons-container">
            <button type="submit">Save</button>
            <a th:href="*{'/'}">Cancel</a>
        </div>
    </form>
</main>