<div th:fragment="content">
    <h1>Attandances</h1>

<!--    <button class="toggle-btn" id="toggle-attendance-form">-->
<!--        Add New Attendance-->
<!--    </button>-->

<!--    <div class="add-attendance-container" id="add-attendance-container">-->
<!--        <form th:action="@{/addAttendance}" method="post">-->
<!--            <label for="employeeId">Employee</label>-->
<!--            <select name="employeeId">-->
<!--                <option value="">Select employee</option>-->
<!--                <option th:each="employee : ${employees}" th:value="${employee.id}"-->
<!--                        th:text="${employee.firstName} + ' ' + ${employee.lastName}"></option>-->
<!--            </select>-->
<!--            <div class="input-container">-->
<!--                <div>-->
<!--                    <label for="date">Date</label>-->
<!--                    <input type="date" name="date" id="date"-->
<!--                           th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label for="hours">Hours</label>-->
<!--                    <input type="number" name="workedHours" id="hours"/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="buttons-container">-->
<!--                <button type="submit">Submit Attendance</button>-->
<!--                <button type="button" id="close-button">Close</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

    <p class="info" th:unless="${employees.size()}">No attendances in our system.</p>

    <table th:if="${employees.size() > 0}">
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="employee : ${employees}" th:object="${employee}">
            <td th:text="*{firstName} + ' ' + *{lastName}"></td>
            <td th:text="*{position}"></td>

            <td>
                <div class="buttons-container">
                    <a th:href="@{/employees/{id}(id=${employee.id})}">Details</a>
                    <a th:href="@{/employees/edit/{id}(id=${employee.id})}">Edit</a>

                    <button class="deleteButton"  th:data-id="${employee.id}">Delete</button>

                    <div class="modal-overlay" th:data-id="${employee.id}">
                        <div class="modal">
                            <h3>Are you sure you want to delete this item?</h3>
                            <div class="modal-actions buttons-container">
                                <form th:action="@{/employees/delete}" method="post">
                                    <input type="hidden" name="id" th:value="${employee.id}"/>
                                    <button type="submit">Delete</button>
                                </form>
                                <button class="cancelButton">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>