<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Attendance System</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav>
        <h1>Attendance System</h1>
        <ul>
            <li><a th:href="*{'/'}">Attandances</a></li>
            <li><a th:href="*{'/employees'}">Employees</a></li>
        </ul>
        <div>
            <a href="/get-started" class="login">Login</a>
            <a href="/get-started" class="register">Register</a>
        </div>
    </nav>
</header>

<div th:replace="*{contentFragment} :: content"></div>

<footer>
    <p>© 2024 Attendance System</p>
</footer>

<script th:src="@{/script/main.js}"></script>
</body>
</html>